# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store
# C extensions
*.so

# Distribution / packaging
.Python
.idea/
env/
venv*/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
settings_local.py
todo.md
notes.md
Vagrantfile
.vagrant
data/
tests/testapp/screendumps/

db.sqlite*
docs/_templates/
example_2/example/media/
example_2/env/
assets/
tests/testapp/settings_local.py
node_modules/
/env3/
docker-compose.override.yml
/docs/docs/_build/html/.doctrees/contribution/index.doctree
/docs/docs/_build/html/.doctrees/installation/index.doctree
/docs/docs/_build/html/.doctrees/releases/index.doctree
/docs/docs/_build/html/.doctrees/widgets/googleMap/pointField/interactive.doctree
/docs/docs/_build/html/.doctrees/widgets/googleMap/pointField/static.doctree
/docs/docs/_build/html/.doctrees/widgets/googleMap/index.doctree
/docs/docs/_build/html/.doctrees/widgets/leaflet/PointField/interactive.doctree
/docs/docs/_build/html/.doctrees/widgets/leaflet/index.doctree
/docs/docs/_build/html/.doctrees/widgets/mapbox/PointField/interactive.doctree
/docs/docs/_build/html/.doctrees/widgets/mapbox/PointField/static.doctree
/docs/docs/_build/html/.doctrees/widgets/mapbox/index.doctree
/docs/docs/_build/html/.doctrees/widgets/index.doctree
/docs/docs/_build/html/.doctrees/widgets/settings.doctree
/docs/docs/_build/html/.doctrees/environment.pickle
/docs/docs/_build/html/.doctrees/index.doctree
/docs/docs/_build/html/_images/demo_project_preview.png
/docs/docs/_build/html/_images/google-point-field-admin-inline-widget.gif
/docs/docs/_build/html/_images/google-point-field-map-widget.gif
/docs/docs/_build/html/_images/google-point-static-map-widget.png
/docs/docs/_build/html/_images/google_interactive.png
/docs/docs/_build/html/_images/google_interactive_inline.gif
/docs/docs/_build/html/_images/google_static_overlay.png
/docs/docs/_build/html/_images/leaflet-point-field-map-widget.png
/docs/docs/_build/html/_images/leaflet_interactive.png
/docs/docs/_build/html/_images/mapbox-point-field-map-widget.png
/docs/docs/_build/html/_images/mapbox_interactive.gif
/docs/docs/_build/html/_images/mapbox_preview.png
/docs/docs/_build/html/_images/mapbox_static_overlay.png
/docs/docs/_build/html/_sources/contribution/index.rst.txt
/docs/docs/_build/html/_sources/installation/index.rst.txt
/docs/docs/_build/html/_sources/releases/index.rst.txt
/docs/docs/_build/html/_sources/widgets/googleMap/pointField/interactive.rst.txt
/docs/docs/_build/html/_sources/widgets/googleMap/pointField/static.rst.txt
/docs/docs/_build/html/_sources/widgets/googleMap/index.rst.txt
/docs/docs/_build/html/_sources/widgets/leaflet/PointField/interactive.rst.txt
/docs/docs/_build/html/_sources/widgets/leaflet/index.rst.txt
/docs/docs/_build/html/_sources/widgets/mapbox/PointField/interactive.rst.txt
/docs/docs/_build/html/_sources/widgets/mapbox/PointField/static.rst.txt
/docs/docs/_build/html/_sources/widgets/mapbox/index.rst.txt
/docs/docs/_build/html/_sources/widgets/index.rst.txt
/docs/docs/_build/html/_sources/widgets/settings.rst.txt
/docs/docs/_build/html/_sources/index.rst.txt
/docs/docs/_build/html/_static/css/fonts/fontawesome-webfont.eot
/docs/docs/_build/html/_static/css/fonts/fontawesome-webfont.svg
/docs/docs/_build/html/_static/css/fonts/fontawesome-webfont.ttf
/docs/docs/_build/html/_static/css/fonts/fontawesome-webfont.woff
/docs/docs/_build/html/_static/css/fonts/fontawesome-webfont.woff2
/docs/docs/_build/html/_static/css/fonts/lato-bold.woff
/docs/docs/_build/html/_static/css/fonts/lato-bold.woff2
/docs/docs/_build/html/_static/css/fonts/lato-bold-italic.woff
/docs/docs/_build/html/_static/css/fonts/lato-bold-italic.woff2
/docs/docs/_build/html/_static/css/fonts/lato-normal.woff
/docs/docs/_build/html/_static/css/fonts/lato-normal.woff2
/docs/docs/_build/html/_static/css/fonts/lato-normal-italic.woff
/docs/docs/_build/html/_static/css/fonts/lato-normal-italic.woff2
/docs/docs/_build/html/_static/css/fonts/Roboto-Slab-Bold.woff
/docs/docs/_build/html/_static/css/fonts/Roboto-Slab-Bold.woff2
/docs/docs/_build/html/_static/css/fonts/Roboto-Slab-Regular.woff
/docs/docs/_build/html/_static/css/fonts/Roboto-Slab-Regular.woff2
/docs/docs/_build/html/_static/css/badge_only.css
/docs/docs/_build/html/_static/css/theme.css
/docs/docs/_build/html/_static/images/demo_project_preview.png
/docs/docs/_build/html/_static/images/google-point-field-admin-inline-widget.gif
/docs/docs/_build/html/_static/images/google-point-field-map-widget.gif
/docs/docs/_build/html/_static/images/google-point-field-map-widget.png
/docs/docs/_build/html/_static/images/google-point-static-map-widget.png
/docs/docs/_build/html/_static/images/google-point-static-overlay-map-widget.png
/docs/docs/_build/html/_static/images/google_interactive.png
/docs/docs/_build/html/_static/images/google_interactive_inline.gif
/docs/docs/_build/html/_static/images/google_static_overlay.png
/docs/docs/_build/html/_static/images/leaflet-point-field-map-widget.png
/docs/docs/_build/html/_static/images/leaflet_interactive.png
/docs/docs/_build/html/_static/images/mapbox-point-field-map-widget.png
/docs/docs/_build/html/_static/images/mapbox_interactive.gif
/docs/docs/_build/html/_static/images/mapbox_preview.png
/docs/docs/_build/html/_static/images/mapbox_static_overlay.png
/docs/docs/_build/html/_static/js/badge_only.js
/docs/docs/_build/html/_static/js/html5shiv.min.js
/docs/docs/_build/html/_static/js/html5shiv-printshiv.min.js
/docs/docs/_build/html/_static/js/theme.js
/docs/docs/_build/html/_static/_sphinx_javascript_frameworks_compat.js
/docs/docs/_build/html/_static/basic.css
/docs/docs/_build/html/_static/doctools.js
/docs/docs/_build/html/_static/documentation_options.js
/docs/docs/_build/html/_static/file.png
/docs/docs/_build/html/_static/jquery.js
/docs/docs/_build/html/_static/language_data.js
/docs/docs/_build/html/_static/minus.png
/docs/docs/_build/html/_static/plus.png
/docs/docs/_build/html/_static/pygments.css
/docs/docs/_build/html/_static/searchtools.js
/docs/docs/_build/html/_static/sphinx_highlight.js
/docs/docs/_build/html/contribution/index.html
/docs/docs/_build/html/installation/index.html
/docs/docs/_build/html/releases/index.html
/docs/docs/_build/html/widgets/googleMap/pointField/interactive.html
/docs/docs/_build/html/widgets/googleMap/pointField/static.html
/docs/docs/_build/html/widgets/googleMap/index.html
/docs/docs/_build/html/widgets/leaflet/PointField/interactive.html
/docs/docs/_build/html/widgets/leaflet/index.html
/docs/docs/_build/html/widgets/mapbox/PointField/interactive.html
/docs/docs/_build/html/widgets/mapbox/PointField/static.html
/docs/docs/_build/html/widgets/mapbox/index.html
/docs/docs/_build/html/widgets/index.html
/docs/docs/_build/html/widgets/settings.html
/docs/docs/_build/html/.buildinfo
/docs/docs/_build/html/genindex.html
/docs/docs/_build/html/index.html
/docs/docs/_build/html/objects.inv
/docs/docs/_build/html/search.html
/docs/docs/_build/html/searchindex.js
