{% extends "base.html" %}

{% block extrahead %}
    {{ form.media }}

    <script type="text/javascript">
        $(document).on("point_map_widget:marker_create", function (e, locationInputElem, lat, lng) {
            console.log(locationInputElem);
            console.log(lat, lng); // created marker coordinates
        });

        $(document).on("point_map_widget:marker_delete", function (e, locationInputElem, lat, lng) {
            console.log(locationInputElem);
            console.log(lat, lng);  // deleted marker coordinates
        })
    </script>
{% endblock extrahead %}

{% block content %}
    <form action="{% url "cities:create" %}" method="post" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock content %}