<div class="mw-wrap" id="{{ name }}-mw-wrap">
    <div class="mw-header">

        <div class="mw-coordinates-wrap">
            <a  class="btn btn-primary mw-btn-coordinates">Coordinates <i class="icon-down-dir" ></i></a>
            <div class="mw-coordinates-overlay hide">
                <label for="{{ name }}-mw-overlay-latitude">
                    Latitude:
                    <input type="text" id="{{ name }}-mw-overlay-latitude" class="form-control mw-overlay-input mw-overlay-latitude" placeholder="Ex: 41.015137"/>
                </label>
                <label for="{{ name }}-mw-overlay-longitude">
                    Longitude:
                    <input type="text" id="{{ name }}-mw-overlay-longitude" class="form-control mw-overlay-input mw-overlay-longitude" placeholder="Ex: 28.979530"/>
                </label>
                <a class="btn btn-success mw-btn-coordinates-done pull-right">Done</a>
            </div>
        </div>

        <a class="btn btn-info mw-btn-my-location" >Get My Location</a>
        <a class="btn btn-warning btn-add-marker" id="mw-btn-add-marker"><i class="icon-location"></i></a>
        <div class="mw-adress-input-wrap pull-right">
            <input type="text" class="form-control pull-right" id="{{ name }}-mw-google-address-input" placeholder="Enter or update the address here"/>
        </div>
    </div>

    <div class="mw-map-wrapper">
        <div class="mw-loader-overlay hide" id="mw-loader-overlay">
            <div class="mw-loader"></div>
        </div>
        <div id="{{ name }}-map-elem" class="mw-map"></div>
        <div class="hide" id="mw-form-inputs">
            <textarea id="{{ id }}" class="hide" name="{{ name }}">{{ serialized }}</textarea>
        </div>
    </div>

    <div class="mw-footer">
        <span class="help-text">this is a help text</span>
        <a class="btn btn-default mw-btn-reset pull-right"><i class="icon-arrows-cw"></i> Reset</a>
    </div>
    <div class="animated-loader"></div>
</div>

<script type="application/javascript">
    (function() {
        var mapOptions = JSON.parse("{{ options|escapejs }}");
        var wrapElemSelector = "#{{ name }}-mw-wrap";
        var mapElemID = "{{ name }}-map-elem";
        var googleAutoInputID = "{{ name }}-mw-google-address-input";

        new DjangoGoogleMapWidget({
            locationInput: $("#{{ id }}"),
            wrapElemSelector: wrapElemSelector,
            locationFieldValue: JSON.parse("{{ field_value|escapejs }}"),
            mapApiKey: null,
            mapElement: document.getElementById(mapElemID),
            mapCenterLocationName: mapOptions.mapCenterLocationName,
            mapCenterLocation: mapOptions.mapCenterLocation,
            googleAddressInput: null,
            coordinatesInputs: null,
            coordinatesOverlayToggleBtn: $(".mw-btn-coordinates", wrapElemSelector),
            coordinatesOverlayDoneBtn: $(".mw-btn-coordinates-done", wrapElemSelector),
            coordinatesOverlayInputs: $(".mw-overlay-input", wrapElemSelector),
            myLocationBtn: $(".mw-btn-my-location", wrapElemSelector),
            coordinatesOverlay: $(".mw-coordinates-overlay", wrapElemSelector),
            addressAutoCompleteInput: document.getElementById(googleAutoInputID),
            resetBtn: $(".mw-btn-reset", wrapElemSelector),
            addMarkerBtn: $("#mw-btn-add-marker", wrapElemSelector),
            loaderOverlayElem: $("#mw-loader-overlay", wrapElemSelector),
            zoom: mapOptions.zoom
        });
    })();
</script>