{% extends "mapwidgets/google-point-field-widget.html" %}

{% block javascript %}
    <script type="application/javascript">

        (function($) {
            var mapOptions = JSON.parse("{{ options|escapejs }}");
            var fieldValue = JSON.parse("{{ field_value|escapejs }}");
            {% if not is_formset_empty_form_template %}

                var widgetData = JSON.parse("{{ js_widget_data|escapejs }}");
                var wrapElemSelector = widgetData.wrapElemSelector;
                var mapElemID = widgetData.mapElemID;
                var googleAutoInputID = widgetData.googleAutoInputID;
                var locationInputID = widgetData.locationInputID;

                var mapWidgetOptions = {
                    locationInput: $(locationInputID),
                    wrapElemSelector: wrapElemSelector,
                    locationFieldValue: fieldValue,
                    mapElement: document.getElementById(mapElemID),
                    mapCenterLocationName: mapOptions.mapCenterLocationName,
                    mapCenterLocation: mapOptions.mapCenterLocation,
                    coordinatesOverlayToggleBtn: $(".mw-btn-coordinates", wrapElemSelector),
                    coordinatesOverlayDoneBtn: $(".mw-btn-coordinates-done", wrapElemSelector),
                    coordinatesOverlayInputs: $(".mw-overlay-input", wrapElemSelector),
                    coordinatesOverlay: $(".mw-coordinates-overlay", wrapElemSelector),
                    myLocationBtn: $(".mw-btn-my-location", wrapElemSelector),
                    addressAutoCompleteInput: document.getElementById(googleAutoInputID),
                    deleteBtn: $(".mw-btn-delete", wrapElemSelector),
                    addMarkerBtn: $(".mw-btn-add-marker", wrapElemSelector),
                    loaderOverlayElem: $(".mw-loader-overlay", wrapElemSelector),
                    zoom: mapOptions.zoom,
                    markerFitZoom: mapOptions.markerFitZoom,
                    GooglePlaceAutocompleteOptions: mapOptions.GooglePlaceAutocompleteOptions,
                    markerCreateTriggerNameSpace: "google_point_map_widget:marker_create",
                    markerChangeTriggerNameSpace: "google_point_map_widget:marker_change",
                    markerDeleteTriggerNameSpace: "google_point_map_widget:marker_delete",
                    placeChangedTriggerNameSpace: "google_point_map_widget:place_changed"
                };
                var widget = new DjangoGooglePointFieldWidget(mapWidgetOptions);

            {% else %}
                var widgetDataTemplate = JSON.parse("{{ js_widget_data|escapejs }}");
                var widgetGenerater = new DjangoMapWidgetGenerater({
                    "widgetDataTemplate": widgetDataTemplate,
                    "mapOptions": mapOptions,
                    "fieldValue": fieldValue
                });
            {% endif %}
        })(jQuery || django.jQuery);
    </script>
{% endblock javascript %}
