<div class="mw-wrap">
    <div class="mw-header">

        <div class="mw-coordinates-wrap">
            <a  class="btn btn-primary" id="mw-btn-coordinates">Coordinates <i class="icon-down-dir" ></i></a>
            <div class="mw-coordinates-overlay hide" id="mw-coordinates-overlay">
                <label for="mw-overlay-latitude">
                    Latitude:
                    <input type="text" id="mw-overlay-latitude" class="form-control" placeholder="Ex: 41.015137"/>
                </label>
                <label for="mw-overlay-longitude">
                    Longitude:
                    <input type="text" id="mw-overlay-longitude" class="form-control" placeholder="Ex: 28.979530"/>
                </label>
                <a class="btn btn-success mw-btn-coordinates-done pull-right" id="mw-btn-coordinates-done">Done</a>
            </div>
        </div>

        <a class="btn btn-info" id="mw-btn-my-location">Get My Location</a>
        <a class="btn btn-warning btn-add-marker" id="mw-btn-add-marker"><i class="icon-location"></i></a>
        <div class="mw-adress-input-wrap pull-right">
            <input type="text" class="form-control pull-right" id="mw-google-address-input" placeholder="Enter or update the address here"/>
        </div>
    </div>

    <div class="mw-map-wrapper">
        <div class="mw-loader-overlay hide" id="mw-loader-overlay">
            <div class="mw-loader"></div>
        </div>
        <div id="mw-map" class="mw-map"></div>
        <div class="hide" id="mw-form-inputs">
            <textarea id="{{ id }}" class="hide" name="{{ name }}">{{ serialized }}</textarea>
        </div>
    </div>

    <div class="mw-footer">
        <span class="help-text">this is a help text</span>
        <a class="btn btn-default pull-right" id="mw-btn-reset"><i class="icon-arrows-cw"></i> Reset</a>
    </div>
    <div class="animated-loader"></div>
</div>

<script type="application/javascript">
    new DjangoGoogleMapWidget({
        locationInput: $("#{{ id }}"),
        mapApiKey: null,
        mapCenterCoordinates: [], // todo check this
        mapElement: null,
        landingLocation: null,
        landingLocationName: "Turkey",
        defaultLandingLocation: {
            lat: 37.0625,
            lng: -95.677068
        }, // todo remove this //google default landing location
        googleAddressInput: null,
        coordinatesInputs: null,
        coordinatesOverlayToggleBtn: $("#mw-btn-coordinates"),
        coordinatesOverlayDoneBtn: $("#mw-btn-coordinates-done"),
        myLocationBtn: $("#mw-btn-my-location"),
        coordinatesOverlay: $("#mw-coordinates-overlay"),
        addressAutoCompleteInput: document.getElementById("mw-google-address-input"),
        resetBtn: $("#mw-btn-reset"),
        addMarkerBtn: $("#dw-add-marker"),
        loaderOverlayElem: $("#mw-loader-overlay"),
        zoom: {{ options.zoom }}
    });
</script>