{% load static %}

{# render field value with a hidden input do not inherit "forms.Hidden" class otherwise django admin won't render the widget #}
{# django/forms/widgets/input.html #}
<input type="hidden" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>

{% if image_url %}
    <div class="google-static-mapwidget-wrapper {{ widget.name }}-google-static-mapwidget-wrapper">
        <a href="{{ image_url }}" class="google-static-map-widget-link {% if is_magnific_popup_enabled %}mw-magnific-popup-link{% endif %}" target="_blank">
            <img src="{{ thumbnail_url }}" class="google-static-map-widget-image" {% for key, value in image_tag_attrs.items %}{{ key }}="{{ value }}" {% endfor %}>
        </a>
    </div>
{% else %}
    <div class="google-static-mapwidget-wrapper {{ widget.name }}-google-static-mapwidget-wrapper">
        <a href="{{ image_url }}" class="google-static-map-widget-link">
            <img src="{% static 'mapwidgets/images/no-map-image.png' %}" class="no-static-map-image">
        </a>
    </div>
{% endif %}

