{% extends "base.html" %}

{% block extrahead %}
    {{ form.media }}
{% endblock extrahead %}

{% block javascript %}
    <script type="text/javascript">
        (function ($) {
            $(document).on("googleMapPointFieldWidget:markerCreate", function (e, lat, lng, locationInputElem, mapWrapID) {
                console.log("EVENT: marker_create"); // django widget textarea widget (hidden)
                console.log(locationInputElem); // django widget textarea widget (hidden)
                console.log(lat, lng); // created marker coordinates
                console.log(mapWrapID); // map widget wrapper element ID
            });

            $(document).on("googleMapPointFieldWidget:markerChange", function (e, lat, lng, locationInputElem, mapWrapID) {
                console.log("EVENT: marker_change"); // django widget textarea widget (hidden)
                console.log(locationInputElem); // django widget textarea widget (hidden)
                console.log(lat, lng);  // changed marker coordinates
                console.log(mapWrapID); // map widget wrapper element ID
            });

            $(document).on("googleMapPointFieldWidget:markerDelete", function (e, lat, lng, locationInputElem, mapWrapID) {
                console.log("EVENT: marker_delete"); // django widget textarea widget (hidden)
                console.log(locationInputElem); // django widget textarea widget (hidden)
                console.log(lat, lng);  // deleted marker coordinates
                console.log(mapWrapID); // map widget wrapper element ID
            })

            $(document).on("googleMapPointFieldWidget:placeChanged", function (e, place, lat, lng, locationInputElem, mapWrapID) {
                console.log("EVENT: place_changed"); // django widget textarea widget (hidden)
                console.log(place);
                console.log(locationInputElem); // django widget textarea widget (hidden)
                console.log(lat, lng); // created marker coordinates
                console.log(mapWrapID); // map widget wrapper element ID
            });
            console.log($("#id_location").data("PointFieldMapObj"));
            console.log($("#id_location").data("PointFieldClassObj"));
        })(mapWidgets.jQuery)
    </script>
{% endblock javascript %}

{% block breadcrumb_item %}
    <li class="breadcrumb-item"><a href="{% url "googlemap:pointfield_interactive_list" %}">GoogleMap PointField Interactive Widget</a></li>
{% endblock %}


{% block content %}
    <form action="{% url "googlemap:pointfield_interactive_edit" obj.pk %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </form>
{% endblock content %}