{% extends "base.html" %}

{% block title %}Google Map Point Widget{% endblock %}

{% block extrahead %}
    {{ form.media }}

    <script type="text/javascript">
        $(document).on("google_point_map_widget:marker_create", function (e, place, lat, lng, locationInputElem, mapWrapID) {
            console.log(place); // full response from Google geoconding API
            console.log(lat, lng); // created marker coordinates
            console.log(locationInputElem); // django widget textarea widget (hidden)
            console.log(mapWrapID); // map widget wrapper element ID
        });

        $(document).on("google_point_map_widget:marker_change", function (e, place, lat, lng, locationInputElem, mapWrapID) {
            console.log(place); // full response from Google geoconding API
            console.log(lat, lng);  // changed marker coordinates
            console.log(locationInputElem); // django widget textarea widget (hidden)
            console.log(mapWrapID); // map widget wrapper element ID
        });

        $(document).on("google_point_map_widget:marker_delete", function (e, lat, lng, locationInputElem, mapWrapID) {
            console.log(lat, lng);  // deleted marker coordinates
            console.log(locationInputElem); // django widget textarea widget (hidden)
            console.log(mapWrapID); // map widget wrapper element ID
        })
    </script>
{% endblock extrahead %}

{% block content %}
    <h3>Google Map Point Widget</h3>
    <div>
        <form action="{% url "widgets:google-point" %}" method="post" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>

{% endblock content %}