{% extends "base.html" %}

{% block extrahead %}
    {{ form.media }}
{% endblock extrahead %}

{% block breadcrumb_item %}
    <li class="breadcrumb-item"><a href="{% url "leaflet:list" %}">Leaflet Point Field</a></li>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        (function ($) {
            const widgetClassObj = $("#location-map-elem").data("mwClassObj")
            setTimeout(function () {
                // widgetClass.addMarkerToMap(lat, lng)
                widgetClassObj.addMarkerToMap(51.6575243834443, -0.1548867463910279)  // add marker
                widgetClassObj.updateDjangoInput() // update django input
                widgetClassObj.fitBoundMarker() // fix center position for the marker

                setTimeout(function () {
                    // you can reset the map with `widgetClassObj.resetMap()`
                    widgetClassObj.resetMap()
                }, 5000)

            }, 3000)
        })(jQuery)
    </script>
{% endblock javascript %}


{% block content %}
    <h4>{{ obj.name }}</h4>
    <form action="{% url "leaflet:edit" obj.pk %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </form>
{% endblock content %}